.item {
    @extend %flexbox;
    flex-direction: column;
    align-items: center;
    // .item__image

    &__image {
        img {
            margin-bottom: 10px;
            cursor: pointer;

        }

        &:first-child {
            margin-top: 86px;
        }

        &:last-child {
            padding-bottom: 26px;
        }

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 16px;
    }
}